In [5]:
import mysql.connector

In [6]:
try:
    mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "ahsanjaved@96",
    database = "chicago"
    )
    print("connected")
except:
    print("not connected")

connected

In [7]:
mycursor = mydb.cursor()

**Q#1 Find the total number of crimes recorded in the CRIME table**

In [51]:
q1 = "(select count(*) as'no of crimes' from chicago_crime_data)"

In [52]:
mycursor.execute(q1)

In [53]:
ans1 = mycursor.fetchall()

In [54]:
print(ans1)

[(385,)]

**Q#2 List community areas with per capita income less than 11000**

In [63]:
q2 = "(select COMMUNITY_AREA_NAME from census_data where PER_CAPITA_INCOME < 11000)"

In [64]:
mycursor.execute(q2)

In [65]:
ans2 = mycursor.fetchall()

In [66]:
for i in ans2:
    print(i)

('West Garfield Park',)
('South Lawndale',)
('Fuller Park',)
('Riverdale',)

**Q#3 List all case numbers for crimes involving minors?**

In [77]:
q3 = "(select CASE_NUMBER from chicago_crime_data where DESCRIPTION like '%MINOR%')"

In [78]:
mycursor.execute(q3)

In [79]:
ans3 = mycursor.fetchall()

In [80]:
for i in ans3:
    print(i)

('HL266884',)
('HK238408',)

**Q#4 List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)**

In [81]:
Q4 = "(select CASE_NUMBER from chicago_crime_data where PRIMARY_TYPE = 'KIDNAPPING')"

In [82]:
mycursor.execute(q4)

In [83]:
ans4 = mycursor.fetchall()

In [84]:
for i in ans4:
    print(i)

('HN144152',)

**Q#5 What kind of crimes were recorded at schools?**

In [89]:
q5 = "(select PRIMARY_TYPE from chicago_crime_data where LOCATION_DESCRIPTION like '%SCHOOL%')"

In [90]:
mycursor.execute(q5)

In [91]:
ans5 = mycursor.fetchall()

In [92]:
for i in ans5:
    print(i)

('CRIMINAL DAMAGE',)
('NARCOTICS',)
('NARCOTICS',)
('CRIMINAL TRESPASS',)
('PUBLIC PEACE VIOLATION',)
('PUBLIC PEACE VIOLATION',)

**Q#6 List the average safety score for all types of schools**

In [93]:
q6 = "(select avg(SAFETY_SCORE) from chicago_public_schools)"

In [94]:
mycursor.execute(q6)

In [95]:
ans6 = mycursor.fetchall()

In [96]:
for i in ans6:
    print(i)

(Decimal('45.3935'),)

**Q#7 List 5 community areas with highest % of households below poverty line**

In [101]:
q7 = "(select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from census_data order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5 )"

In [102]:
mycursor.execute(q7)

In [103]:
ans7 = mycursor.fetchall()

In [104]:
for i in ans7:
    print(i)

('Riverdale', 56.5)
('Fuller Park', 51.2)
('Englewood', 46.6)
('North Lawndale', 43.1)
('East Garfield Park', 42.4)

**Q#8 Which community area(number) is most crime prone?**

In [109]:
q8 = "(select COMMUNITY_AREA_NUMBER ,count(COMMUNITY_AREA_NUMBER) as 'most crime' from chicago_crime_data group by COMMUNITY_AREA_NUMBER order by 'most crime' desc limit 1 )"

In [110]:
mycursor.execute(q8)

In [111]:
ans8 = mycursor.fetchall()

In [112]:
for i in ans8:
    print(i)

(58, 9)

**Q#10 Use a sub-query to determine the Community Area Name with most number of crimes?**

In [22]:
q10 = "(select a.community_area_name,b.COMMUNITY_AREA_NUMBER,count(*)  from census_data a join chicago_crime_data b on a.COMMUNITY_AREA_NUMBER= b.COMMUNITY_AREA_NUMBER group by community_area_number order by 3 desc,1 desc)"

In [23]:
mycursor.execute(q10)

In [24]:
ans10 = mycursor.fetchall()

In [25]:
for i in ans10:
    print(i)

('CHICAGO', 0, 29)
('Austin', 25, 27)
('Humboldt park', 23, 15)
('Englewood', 68, 13)
('Near West Side', 28, 12)
('Near North Side', 8, 12)
('West Town', 24, 11)
('Chicago Lawn', 66, 10)
('West Englewood', 67, 9)
('Greater Grand Crossing', 69, 9)
('Brighton Park', 58, 9)
('Auburn Gresham', 71, 9)
('North Lawndale', 29, 8)
('Logan Square', 22, 8)
('West Garfield Park', 26, 7)
('New City', 61, 7)
('Lower West Side', 31, 7)
('Lake View', 6, 7)
('Ashburn', 70, 7)
('Woodlawn', 42, 6)
('West Pullman', 53, 6)
('South Chicago', 46, 6)
('Roseland', 49, 6)
('Rogers Park', 1, 6)
('Loop', 32, 6)
('Irving Park', 16, 6)
('Gage Park', 63, 6)
('Chatham', 44, 6)
('West Ridge', 2, 5)
('South Shore', 43, 5)
('South Lawndale', 30, 5)
('Calumet Heights', 48, 5)
('Belmont Cragin', 19, 5)
('Albany Park', 14, 5)
('Uptown', 3, 4)
('Portage Park', 15, 4)
("O'Hare", 76, 4)
('Grand Boulevard', 38, 4)
('Douglas', 35, 4)
('Avondale', 21, 4)
('West Lawn', 65, 3)
('West Elsdon', 62, 3)
('Norwood Park', 10, 3)
('North Center', 5, 3)
('Lincoln Park', 7, 3)
('Hermosa', 20, 3)
('East Garfield Park', 27, 3)
('Dunning', 17, 3)
('Beverly', 72, 3)
('Washington Height', 73, 2)
('South Deering', 51, 2)
('Pullman', 50, 2)
('Montclaire', 18, 2)
('McKinley Park', 59, 2)
('Lincoln Square', 4, 2)
('Kenwood', 39, 2)
('Jefferson Park', 11, 2)
('Hyde Park', 41, 2)
('Garfield Ridge', 56, 2)
('Edgewater', 77, 2)
('East Side', 52, 2)
('Clearing', 64, 2)
('Avalon Park', 45, 2)
('Riverdale', 54, 1)
('Morgan Park', 75, 1)
('Hegewisch', 55, 1)
('Forest Glen', 12, 1)
('Burnside', 47, 1)
('Bridgeport', 60, 1)